#virtual environment
venv/
#pycache
__pycache__/
#log files
*.log
#database files
*.db
#env files
.env    
#DS_Store
.DS_Store   
#idea files
.idea/
#vscode files
.vscode/
#pytest cache
.pytest_cache/
# macOS
.DS_Store
# Windows
Thumbs.db
# Coverage reports
.coverage
htmlcov/

# alembic/versions/*
